{% extends "base.html" %}
{% block title %} Contact {% endblock %}
{% block content %}
<div class="card-body">
    <div class="card-header d-flex justify-content-between align-items-center">
        <p>Contact me on Linkedin</p>
        <div
            class="badge-base LI-profile-badge"
            data-locale="en_US"
            data-size="medium"
            data-theme="dark"
            data-type="VERTICAL"
            data-vanity="ruslana-kunytska-839606110"
            data-version="v1"
        >
            <a
            class="badge-base__link LI-simple-link"
            href="https://www.linkedin.com/in/ruslana-kunytska-839606110/"
            >Ruslana Kunytska</a
            >
            <script
            src="https://platform.linkedin.com/badges/js/profile.js"
            async
            defer
            type="text/javascript"
            ></script>
        </div>
    </div>
</div>

{% endblock %}